@keyframes titulo {
    0%{color: white;}
  
    50%{color: black;}
   
    100%{color: white; }
    
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fredoka+One&display=swap');

                




body{
    position: relative;
    margin: auto;
    text-align: center;
    background: rgb(2,0,36);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(133,22,39,1) 24%, rgba(195,6,54,0.9836309523809523) 100%);

}


h1{
    position: static;
    color: rgb(255, 255, 255);
    font-size: 70px;
    font-family: 'Fredoka One', cursive;
    animation-name: titulo;
    animation-duration: 4s;
   text-shadow:-1px -1px 0px black,
                3px 3px 0px black,
                6px 6px 0px black; 
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
}

.container{
   display: grid;
   grid-template:auto  auto / auto auto auto ;
   align-items: center;
   justify-content: center;
  

}
.square:nth-child(0),
.square:nth-child(1),
.square:nth-child(2){
    border-top: none;
}
.square:nth-child(1),
.square:nth-child(2),
.square:nth-child(3){
    border-right: none;
}




.square:nth-child(3),
.square:nth-child(7),
.square:nth-child(8){
    border-bottom:none;
}

.square {
    
    width: 100px;
    height: 100px;
    border: 2px solid white;
  
  
}
.j1{
    border-left: none;
}

.o{
    position: relative;
}


.o::after{
    content: "\1F6E1";
    font-size: 50px;
    line-height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.x{
    position: relative;
}


.x::after{
    content: "\2694";
    font-size: 50px;
    line-height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}